<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.medicineauthourity">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppWithTransparentStatusBar">
        <activity android:name=".presentation.author.ApproveResultActivity"></activity>
        <activity android:name=".presentation.author.ApprovalActivity" />
        <activity android:name=".presentation.author.AddMedicineActivity" />
        <activity android:name=".presentation.author.AddCategoryActivity" />
        <activity android:name=".presentation.author.AuthorControlActivity" />
        <activity android:name=".presentation.author.RegisterActivity" />
        <activity android:name=".presentation.author.LoginActivity" />
        <activity android:name=".presentation.StartActivity" />
        <activity android:name=".presentation.BarcodeScanningActivity" />
        <activity
            android:name=".presentation.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>